## Imports & Display Options

In [128]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)
pd.set_option('display.max_columns', 42)
import pandas as pd

## Load Data

In [129]:
df_20161101 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20161101.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 1 Loaded")
df_20161108 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20161108.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 2 Loaded")
df_20161116 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20161116.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 3 Loaded")
df_20161122 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20161122.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 4 Loaded")
df_20161129 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20161129.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 5 Loaded")
df_20161206 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20161206.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 6 Loaded")
df_20170110 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20170110.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 7 Loaded")
df_20170116 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20170116.csv', sep='|', na_values=['nan', ' ', '  '], low_memory=False)
print("Dataset 8 Loaded")
df_20170117 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20170117.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 9 Loaded")
df_20170124 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20170124.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 10 Loaded")
df_20170131 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20170131.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 11 Loaded")
df_20170207 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20170207.csv', sep='|', na_values=['nan', ' ', '  '], low_memory=False)
print("Dataset 12 Loaded")
df_20170214 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20170214.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 13 Loaded")
df_20170221 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20170221.csv', sep='|', na_values=['nan', ' ', '  '])
print("Dataset 14 Loaded")
df_20170301 =  pd.read_csv('/Users/ryanallred/Desktop/Rx_Claims/Rx_BenefitPlan_20170301.csv', sep='|', na_values=['nan', ' ', '  '], low_memory=False)
print("Dataset 15 Loaded")

Dataset 1 Loaded
Dataset 2 Loaded
Dataset 3 Loaded
Dataset 4 Loaded
Dataset 5 Loaded

/Users/ryanallred/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Dataset 6 Loaded
Dataset 7 Loaded
Dataset 8 Loaded
Dataset 9 Loaded
Dataset 10 Loaded
Dataset 11 Loaded
Dataset 12 Loaded
Dataset 13 Loaded
Dataset 14 Loaded
Dataset 15 Loaded

In [130]:
df = pd.concat([df_20161101, df_20161108, df_20161116, df_20161122, df_20161129,
                                     df_20161206, df_20170110, df_20170116, df_20170117, df_20170124, 
                                     df_20170131, df_20170207, df_20170214, df_20170221, df_20170301])

## View Dataframe Shape and Head

In [131]:
print(df.shape)
df.head()

(4431552, 42)

,AHFSTherapeuticClassCode,ClaimID,ClaimStatus,CoInsurance,CompoundDrugIndicator,Copay,DAWCode,DateFilled,DaysSupply,Deductible,DispensingFee,DrugLabelName,FillNumber,FormularyStatus,Generic,GroupNumber,IngredientCost,MailOrderPharmacy,MemberID,MultisourceIndicator,NDCCode,OutOfPocket,PBMVendor,PaidAmount,PaidOrAdjudicatedDate,PharmacyCity,PharmacyNPI,PharmacyName,PharmacyNumber,PharmacyState,PharmacyStreetAddress1,PharmacyStreetAddress2,PharmacyTaxId,PharmacyZip,PrescriberFirstName,PrescriberID,PresriberLastName,Quantity,RxNumber,SeqNum,UnitMeasure,punbr_grnbr
0,40282000,00005392286554,P,nan,1,30,0,2016-10-24,90,0,0,HYDROCHLOROTHIAZIDE ...,N,Y,Y,A57,30,N,HHA570036,1,16729018317,30,MedImpact,0,2016-10-24,DERRY ...,3004861,RITE AID PHARMACY 03310 ...,NaN,NH,59 ROCKINGHAM ST ...,NaN,231614034,03038-2119,NaN,1053528364,NaN,90,1260961,0,Drops,001A57
1,28129200,00005394709754,P,nan,1,10,0,2016-10-25,30,0,2,GABAPENTIN ...,R,Y,Y,A57,16,N,HHA570036,1,52343003290,10,MedImpact,7,2016-10-25,MANCHESTER ...,3005255,MANCHESTER VAMC PHARMACY ...,NaN,NH,718 SMYTH RD ...,NaN,20222932,03104-0000,NaN,1396706677,NaN,90,5058804,1,Capsule,001A57
2,84920000,00005394709631,P,nan,1,20,0,2016-10-25,30,0,2,SANTYL ...,R,Y,N,A57,55,N,HHA570036,3,50484001030,20,MedImpact,36,2016-10-25,MANCHESTER ...,3005255,MANCHESTER VAMC PHARMACY ...,NaN,NH,718 SMYTH RD ...,NaN,20222932,03104-0000,NaN,1770769515,NaN,60,5231123,1,Ointment,001A57
3,40280800,00005396245992,P,nan,1,10,0,2016-10-26,30,0,2,TORSEMIDE ...,N,Y,Y,A57,35,N,HHA570036,1,54007725,10,MedImpact,27,2016-10-26,MANCHESTER ...,3005255,MANCHESTER VAMC PHARMACY ...,NaN,NH,718 SMYTH RD ...,NaN,20222932,03104-0000,NaN,1770769515,NaN,60,5307931,1,Tablet,001A57
4,28080800,00005396901904,J,nan,1,0,0,2016-10-27,30,0,0,OXYCODONE HCL ...,N,O,Y,A57,0,N,HHA570036,1,60429051601,0,MedImpact,0,2016-10-27,MANCHESTER ...,3005255,MANCHESTER VAMC PHARMACY ...,NaN,NH,718 SMYTH RD ...,NaN,20222932,03104-0000,NaN,1770769515,NaN,270,5308269,1,Tablet,001A57

## Count Missing Values

In [132]:
# Count Missing Values
df.isnull().sum().sort_values(ascending = False)

PharmacyStreetAddress2      3093678
PrescriberFirstName          946460
PharmacyTaxId                412298
AHFSTherapeuticClassCode     336672
PharmacyState                309527
PharmacyCity                 309515
PharmacyStreetAddress1       309515
PharmacyZip                  309509
FormularyStatus              290636
PresriberLastName            244009
PharmacyName                 218248
DispensingFee                168770
IngredientCost               168394
ClaimStatus                  163611
RxNumber                     160890
PharmacyNPI                  126246
CoInsurance                  115430
PharmacyNumber                80214
UnitMeasure                   57101
DrugLabelName                 53061
Quantity                      53054
Generic                       16365
CompoundDrugIndicator          8723
PrescriberID                   4016
DAWCode                        3640
MailOrderPharmacy               586
Deductible                       36
NDCCode                           3
MultisourceIndicator              3
GroupNumber                       0
FillNumber                        0
MemberID                          0
OutOfPocket                       0
DaysSupply                        0
DateFilled                        0
PBMVendor                         0
Copay                             0
PaidAmount                        0
PaidOrAdjudicatedDate             0
SeqNum                            0
ClaimID                           0
punbr_grnbr                       0
dtype: int64

# Number of Claims by PBM

In [133]:
df['PBMVendor'].value_counts()

CVSPAL4000         2764364
Medco               630260
MedImpact           574053
MaxorPlus           160890
Magellan            102802
Envision             95176
RXPreferred          53054
SouthernScripts      18836
Welldyne             14211
Navitus               7504
Nemop                 5033
OptumRX               3640
National              1353
CanaRX                 376
Name: PBMVendor, dtype: int64

## Number of Claims by NDC Code

In [134]:
df['NDCCode'].value_counts()

59310057922    52028
55111015810    27974
54327099       26288
68180051403    24712
29300012810    18758
68180051503    17990
60505082901    16426
781261305      16070
59762306001    15147
53746046605    14591
68180051703    13999
555901658      12932
65862005299    12920
68180051303    12749
52027303       12055
13668001005    11830
50111043301    11673
10370010150    11519
88221905       11181
173068220      10960
378232105      10762
172208380      10607
173069600      10268
378395277       9970
378395177       9960
378395077       9907
93742698        9742
69422030        9633
555904358       9489
53746010901     9384
31722021405     9216
53885024510     9185
31722021305     9141
50111099001     9116
378023110       9056
378180301       9011
603766317       8935
603385632       8843
53746046505     8734
31722023890     8653
2446430         8489
49502050002     8410
50111064801     8384
10370010250     8357
378075110       8250
93005805        8195
10702001801     8168
173071920       8152
781223431       7949
13668042990     7792
16729018317     7628
93083201        7609
555901858       7552
65862005390     7528
68180012202     7412
603763417       7406
31722023990     7369
603499821       7287
31722022205     7165
172541211       7153
50383070016     7147
781185220       7115
378180501       6967
378245710       6942
53885024450     6922
406051201       6901
50111043401     6800
88222033        6736
13668000805     6676
378180901       6572
310075190       6459
68382002210     6455
85113201        6423
169750111       6422
310075290       6343
50458025115     6327
591024005       6304
555902658       6201
60505006501     6189
68382002810     6097
169633910       6003
68180047903     5892
116200116       5889
186504031       5882
93720298        5743
378181301       5709
50111078766     5696
378341201       5658
53746027205     5601
378395377       5548
16252051501     5478
65862042005     5461
378180001       5444
85128801        5441
378022201       5386
378081005       5344
67253090150     5342
781149668       5201
93720198        5140
68382075810     5136
               ...
55253027660        1
603396732          1
68016028444        1
59762010601        1
378083094          1
29300018805        1
8463500501         1
8496080701         1
8496310101         1
378021310          1
555076802          1
168014030          1
143124001          1
59746062301        1
59762270301        1
64376063305        1
378561378          1
8411701            1
13925011404        1
16252059701        1
8080433501         1
52652400101        1
76282040501        1
68084065701        1
51927265200        1
67405055005        1
50428277791        1
50458019615        1
832049411          1
13811064290        1
33342005807        1
23155014801        1
462033330          1
149047801          1
51079017103        1
76329146901        1
16714048202        1
60429090460        1
13811064090        1
59572040228        1
59676031204        1
60429036905        1
33342012110        1
603461421          1
60809016612        1
43376010406        1
472178310          1
472162916          1
60432062116        1
16714020801        1
69452011030        1
60429070001        1
143994750          1
38779275905        1
51672404401        1
63323016214        1
45802030367        1
58118991708        1
60429021105        1
456261630          1
60505251804        1
904563340          1
63739026910        1
63032011100        1
143126601          1
143125601          1
54629009501        1
54629089309        1
61971011505        1
49884083701        1
58160082052        1
68084062221        1
904573651          1
63323069404        1
13668008830        1
51672135008        1
68382076405        1
62559038001        1
51079051820        1
66758016013        1
60505357901        1
55111017005        1
51079009020        1
59212042316        1
456068801          1
51991081905        1
50458009105        1
52343003101        1
50383072015        1
70408014134        1
67402004045        1
955104530          1
65862009601        1
60505016805        1
555006605          1
67877021901        1
555048805          1
40076010150        1
51927143500        1
64896069151        1
Name: NDCCode, Length: 21583, dtype: int64

## Replace multiple whitespace with single whitespace in DrugLabelName

In [135]:
df['DrugLabelName'] = df['DrugLabelName'].astype(str)
df['DrugLabelName'] = df['DrugLabelName'].apply(lambda drug: ' '.join(drug.split()))

## Groupby NCD Code
## Create Dataframe of the Groupby to get Counts of NDC Codes

In [136]:
grouped = df.groupby(by='NDCCode', as_index=False).size()
grouped.name = 'count'
grouped = grouped.reset_index()
grouped.head()

   NDCCode  count
0        0    861
1    30001      1
2    72400      2
3  2143301      4
4  2143380    747

## Sort by NDC Code Counts

In [137]:
sorted = grouped.sort_values(by=['count'], ascending=False)
sorted.head()

          NDCCode  count
15716 59310057922  52028
14914 55111015810  27974
801      54327099  26288
20081 68180051403  24712
10428 29300012810  18758

## Groupby DrugLabelName and sort to check if NDC Code and DrugLabelName are 1:1

In [138]:
names = df.groupby(by='DrugLabelName', as_index=False).size()
names.name = 'count'
names = names.reset_index()
names.head()

               DrugLabelName  count
0                                42
1    10ML LL SYRN MIS 20GX1"      1
2  1ML MEDSAVER SYRINGE/REGU      4
3   1ML SYRINGE MIS 28GX1/2"     13
4    1ML TB SYRNG MIS 21GX1"      1

In [139]:
sorted_names = names.sort_values(by=['count'], ascending=False)
sorted_names.head()

               DrugLabelName  count
12789                    nan  53061
6666              LISINOPRIL  48779
9602          PROAIR HFA AER  38319
4671   FLUTICASONE SPR 50MCG  34596
8511     OMEPRAZOLE CAP 20MG  33182

# DrugLabelNames are not unique to NDCCodes!!!
## Get the most common DrugLabelName for a given NDC Code and use that as the DrugLabelName

In [ ]:
drug_labels = []
for row in sorted.iterrows():
    temp_df = df[df.NDCCode == row[1][0]]
    drug_labels.append(temp_df.DrugLabelName.value_counts().index.tolist()[0])

print(drug_labels)

In [ ]:
drug_label_list = pd.Series(drug_labels)
sorted['DrugLabel'] = drug_label_list.values

In [ ]:
sorted.head()

## Export to CSV Sorted list of NDC Code counts with Drug Label Names

In [ ]:
sorted.to_csv('claims_by_NDCCode.csv', index=False)